.toggle-div {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
  background: white;
  display: block;
  align-content: center;
  text-align: center;
  align-items: center;
  justify-content: center;

  border: 0.1rem solid #ffc837;
  border-top-left-radius: 0.6rem;
  border-bottom-left-radius: 0.6rem;
  border-top-right-radius: 0.6rem;
  border-bottom-right-radius: 0.6rem;
}
