.carousel-div {
  width: 90%;
  display: block;
  align-items: center;
  justify-content: center;
}

.carousel-h1 {
  position: relative;
  font-size: 0.9rem;
  font-family: "bold ChosunGs";
  color: #fe9a2e;
  margin-bottom: 6%;
}

.carousel .thumb.selected,
.carousel .thumb:hover {
  border: 2px solid #ffc837;
}

.carousel .control-next.control-arrow {
  right: -3%;
}

.carousel .control-prev.control-arrow {
  left: -3%;
}

.carousel .control-next.control-arrow:before {
  border-left: 8px solid black;
}

.carousel .control-prev.control-arrow:before {
  border-right: 8px solid black;
}
